Repository silva4dev/rails-management-citizens-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run erb:fix, npm run style:fix, npm run md:fix, npm run json:fix, npm run eslint:fix, npm run ruby:fix

.lintstagedrc:

{
  "app/views/**/*.html.erb": ["npm run erb:fix"],
  "**/**/*.{scss,css}": ["npm run style:fix"],
  "**/**/*.md": ["npm run md:fix"],
  "**/**/*.json": ["npm run json:fix"],
  "**/**/*.{js,ts,jsx,tsx}": ["npm run eslint:fix"],
  "**/**/*.rb": ["npm run ruby:fix"]
}

feat: add municipe repository
  app/repositories/municipe_repository.rb
Due: npm run ruby:fix

feat: add twilio service
  app/services/twilio_service.rb
Due: npm run ruby:fix

feat: add create municipe use case
  app/usecases/create_municipe_usecase.rb
Due: npm run ruby:fix

feat: add list municipe usecase
  app/usecases/list_municipes_usecase.rb
Due: npm run ruby:fix

feat: add update municipe usecase
  app/usecases/update_municipe_usecase.rb
Due: npm run ruby:fix

feat: add application layout
  app/views/layouts/application.html.erb
Due: npm run erb:fix

chore: add mailer page
  app/views/layouts/mailer.html.erb
Due: npm run erb:fix

chore: add mailer page
  app/views/layouts/mailer.text.erb
Due: none

feat: add created to municipe mailer
  app/views/municipe_mailer/created.html.erb
Due: npm run erb:fix

feat: add updated to municipe mailer
  app/views/municipe_mailer/updated.html.erb
Due: npm run erb:fix

feat: add address partial
  app/views/municipes/_address.html.erb
Due: npm run erb:fix

feat: add form partial
  app/views/municipes/_form.html.erb
Due: npm run erb:fix

feat: add edit municipe
  app/views/municipes/edit.html.erb
Due: npm run erb:fix

chore: add keep
  lib/assets/.keep
  lib/tasks/.keep
  log/.keep
  storage/.keep
  vendor/.keep
Due: none

chore: add bins
  bin/bundle
  bin/dev
  bin/rails
  bin/rake
  bin/setup
Due: none

feat: add configs to application
  config/application.rb
  config/boot.rb
  config/cable.yml
  config/credentials.yml.enc
  config/database.yml
  config/elasticsearch.yml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/elasticsearch.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/locales/en/en.yml
  config/locales/pt-BR/models.yml
  config/locales/pt-BR/pt-br.yml
  config/puma.rb
  config/routes.rb
  config/storage.yml
Due: npm run ruby:fix

feat: add index page
  app/views/municipes/index.html.erb
Due: npm run erb:fix

feat: add new page
  app/views/municipes/new.html.erb
Due: npm run erb:fix

feat: add db configs
  db/migrate/20240323215109_create_municipes.rb
  db/migrate/20240323215146_create_addresses.rb
  db/migrate/20240323215302_create_active_storage_tables.active_storage.rb
  db/schema.rb
  db/seeds.rb
Due: npm run ruby:fix

feat: add docker entrypoint
  entrypoints/docker-entrypoint.sh
Due: none

feat: add public folder
  public/404.html
  public/422.html
  public/500.html
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/robots.txt
Due: none

chore: add tests
  spec/controllers/municipe_controller_spec.rb
  spec/factories/addresses.rb
  spec/factories/municipes.rb
  spec/fixtures/files/avatar.png
  spec/mailers/municipe_mailer_spec.rb
  spec/models/address_spec.rb
  spec/models/municipe_spec.rb
  spec/rails_helper.rb
  spec/repositories/municipe_repository_spec.rb
  spec/requests/municipe_request_spec.rb
  spec/services/twilio_service_spec.rb
  spec/spec_helper.rb
  spec/support/cns_brazil.rb
  spec/support/validates_cpf.rb
  spec/usecases/create_municipe_usecase_spec.rb
  spec/usecases/list_municipes_usecase_spec.rb
  spec/usecases/update_municipes_usecase_spec.rb
Due: npm run ruby:fix

refactor: ensure rename project
  package-lock.json
  package.json
Due: npm run json:fix

refactor: ensure rename project
  package-lock.json
Due: npm run json:fix

chore: ensure change readme
  README.md
Due: npm run md:fix

chore: add imask
  package-lock.json
  package.json
Due: npm run json:fix

feat: add masks to inputs in form
  app/javascript/controllers/municipe_form_controller.ts
Due: npm run eslint:fix

feat: add mask to input in form
  app/views/municipes/_form.html.erb
  app/views/municipes/index.html.erb
Due: npm run erb:fix

refactor: ensure change input dto
  app/controllers/municipes_controller.rb
Due: npm run ruby:fix
