Repository silva4dev/rails-management-citizens-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run erb:fix, npm run style:fix, npm run md:fix, npm run json:fix, npm run eslint:fix, npm run ruby:fix

.lintstagedrc:

{
  "app/views/**/*.html.erb": ["npm run erb:fix"],
  "**/**/*.{scss,css}": ["npm run style:fix"],
  "**/**/*.md": ["npm run md:fix"],
  "**/**/*.json": ["npm run json:fix"],
  "**/**/*.{js,ts,jsx,tsx}": ["npm run eslint:fix"],
  "**/**/*.rb": ["npm run ruby:fix"]
}

chore: add npmrc
  .npmrc
Due: none

chore: add rspec
  .rspec
Due: none

chore: add rubocop
  .rubocop.yml
Due: none

chore: add ruby version
  .ruby-version
Due: none

chore: add style lint
  .stylelintrc
Due: none

chore: add style lint ignore
  .stylelintignore
Due: none

chore: add config
  config.ru
Due: none

chore: add docker compose
  docker-compose.yml
Due: none

chore: add dockerfile
  Dockerfile
Due: none

chore: add gemfile
  Gemfile
  Gemfile.lock
Due: none

chore: add guardfile
  Guardfile
Due: none

chore: add license
  LICENSE
Due: none

chore: add package
  package-lock.json
  package.json
Due: npm run json:fix

chore: add procfile
  Procfile.dev
Due: none

chore: add rakefile
  Rakefile
Due: none

chore: add tailwindcss
  tailwind.config.js
Due: npm run eslint:fix

chore: add tsconfig
  tsconfig.json
Due: npm run json:fix

chore: add husky
  .husky/pre-commit
Due: none

chore: add keep
  app/assets/builds/.keep
Due: none

chore: add avatar
  app/assets/images/avatar.png
Due: none

chore: add manifest
  app/assets/config/manifest.js
Due: npm run eslint:fix

chore: add tailwindcss
  app/assets/stylesheets/application.css
  app/assets/stylesheets/application.tailwind.css
Due: npm run style:fix

chore: add channel
  app/channels/application_cable/channel.rb
Due: npm run ruby:fix

chore: add connection
  app/channels/application_cable/connection.rb
Due: npm run ruby:fix

chore: add application controller
  app/controllers/application_controller.rb
Due: npm run ruby:fix

feat: add municipes controller
  app/controllers/municipes_controller.rb
Due: npm run ruby:fix

chore: add application helper
  app/helpers/application_helper.rb
Due: npm run ruby:fix

feat: add municipes helper
  app/helpers/municipes_helper.rb
Due: npm run ruby:fix

feat: ensure add controllers and turbo rails
  app/javascript/application.ts
Due: npm run eslint:fix

feat: add stimulus to global state
  app/javascript/controllers/application.ts
Due: npm run eslint:fix

feat: ensure register controllers in stimulus
  app/javascript/controllers/index.ts
Due: npm run eslint:fix

feat: add municipe form controller
  app/javascript/controllers/municipe_form_controller.ts
Due: npm run eslint:fix

chore: add application job
  app/jobs/application_job.rb
Due: npm run ruby:fix

chore: add application mailer
  app/mailers/application_mailer.rb
Due: npm run ruby:fix

feat: add municipe mailer
  app/mailers/municipe_mailer.rb
Due: npm run ruby:fix

feat: add address model
  app/models/address.rb
Due: npm run ruby:fix

chore: add application record
  app/models/application_record.rb
Due: npm run ruby:fix

feat: add municipe model
  app/models/municipe.rb
Due: npm run ruby:fix

chore: add keep
  app/models/concerns/.keep
Due: none
